div.codicefrase {

  span{
    width: 30px;  /*50*/
    height: 30px; /*50*/
    margin-right: 2px;
    display: inline-block;
  }

  div.struct{
    display: inline-block;
  }

  div.syntax {
    display: inline-block;
    margin-right: 10px; /*20*/
  }

  div.listen {
    display: inline-block;

    img {
      vertical-align: bottom;
      height: 52px;
      cursor: pointer;
    }
  }

  div.syntax.usable {
    span:not(.blocked) {
      cursor: pointer;
    }
  }

  div.S {
    span{
      border: 2px solid #973485;
      background-color: white;
    }
    span.active{
      background-color: #973485;
    }
  }

  div.V {
    span{
      border: 2px solid #178779;
      background-color: white;
    }
    span.active{
      background-color: #178779;
    }
  }

  div.O {
    span{
      border: 2px solid #779b3d;
      background-color: white;
    }
    span.active{
      background-color: #779b3d;
    }
  }
}