<div class="cartina col-md-4">
    <div class="box box-shadow-green" ng-include="'files/ampere/cartine/' + nazione + '.svg'"></div>
</div>

<div class="descrizione col-md-4">
    <h2 class="title">{{nazioneLabel | uppercase}}</h2>
    <p class="descrizione">
        Possibile testo con descrizione... orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor in neque in ultricies. Curabitur faucibus, dui nec bibendum fermentum, purus ante vehicula arcu, at gravida orci enim eu sapien.
    </p>
</div>

<div class="legenda col-md-4">
    <div class="box box-shadow-pink">
        <h3 class="title">Scopri come leggere la carta!</h3>
        <img ng-src="/images/amper/{{nazione}}_aree_legenda.svg"/>
    </div>
</div>

<div class="test">
    <a href="/#/guida">Guida</a>
</div>

