<div ng-repeat="persona in equipe.personale" class="row marketing equipe">

  <div class="media-left">
      <img class="media-object" src="images/cv/{{persona.foto}}" width="170" height="170"/>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{persona.nome}} {{persona.cognome}}</h4>
    <p ng-show="persona.posizione.length">
      <span >{{persona.posizione}} </span>
    </p>
    <p>
      {{persona.email}}
    </p>
    <p ng-show="persona.sito">
      <a target="_blank" ng-href="{{persona.sito}}">{{persona.sito}}</a>
    </p>
  </div>

</div>
