<!-- .row -->
<div class="row">
    <div class="col-sm-6 col-md-4">
        <a href="http://google.it" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/vernero.png" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h5>Audiologia e Foniatria (Città della Salute)</h5>
                </div>
            </div>
        </a>

    </div>
    <div class="col-sm-6 col-md-4">
        <a href="http://google.it" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/alepo.jpg" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h5>Atlante linguistico ed etnografico del Piemonte occidentale</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="http://google.it" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/alepo.jpg" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h5>Atlante linguistico ed etnografico del Piemonte occidentale</h5>
                </div>
            </div>
        </a>
    </div>
</div> <!-- /.row -->