<div class="row partners">
    <div class="col-sm-6 col-md-4">
        <a href="http://www.atlantelinguistico.it/" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/ali-s.png" >
                <div class="caption">
                    <h5>ALI (Atlante Linguistico Italiano)</h5>
                </div>
            </div>
        </a>

    </div>
    <div class="col-sm-6 col-md-4">
        <a href="http://www.alepo.unito.it/" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/alepo.jpg" >
                <div class="caption">
                    <h5>Atlante linguistico ed etnografico del Piemonte occidentale</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="http://www.atpmtoponimi.it/" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/ATPM.png" >
                <div class="caption">
                    <h5>ATPM (Atlante Toponomastico del Piemonte Montano)</h5>
                </div>
            </div>
        </a>
    </div>
</div> <!-- /.row -->

<div class="row partners">
    <div class="col-sm-6 col-md-4">
        <a href="http://www.cittadellasalute.to.it/?option=com_content&view=article&id=211:otorin...." target="_blank">
            <div class="thumbnail">
                <img src="images/partners/vernero.png" >
                <div class="caption">
                    <h5>Audiologia e Foniatria (Città della Salute)</h5>
                </div>
            </div>
        </a>

    </div>
    <div class="col-sm-6 col-md-4">
        <a href="https://www.celi.it/" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/celi.jpg" >
                <div class="caption">
                    <h5>CELI</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="http://italy.nuance.com/index.htm" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/nuance_logo.png" >
                <div class="caption">
                    <h5>NUANCE</h5>
                </div>
            </div>
        </a>
    </div>
</div> <!-- /.row -->