<div class="sceltafrase info col-md-3">
    <div class="box box-shadow-green">
        <div class="locutore">Locutore {{locNumber}} - {{piLabel}}
            <locicon loc-id="locP"></locicon>
        </div>
    </div>
</div>

<div class="sceltafrase frasi col-md-9">
    <h2 class="title">LE PROPOSIZIONI</h2>
    <p class="descrizione">
        Possibile testo con descrizione... lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor in neque in ultricies. Curabitur faucibus, dui nec bibendum fermentum, purus ante vehicula arcu, at gravida orci enim eu sapien.
    </p>

    <div class="base col-md-6">
        <h3 class="title">PROPOSIZIONE BASE</h3>
        <p class="descrizione">
            Possibile testo con descrizione... lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor in neque in ultricies. Curabitur faucibus, dui nec bibendum fermentum, purus ante vehicula arcu, at gravida orci enim eu sapien.
        </p>
        <codicifrasi type="424" value="'414'" syntax="'SVO'" blocked="12" first-cell-blocked="3" goto="true" goto-listen="gotoListen"></codicifrasi>
    </div>

    <div class="advanced col-md-6">
        <h3 class="title">PROPOSIZIONE ESPANSA</h3>
        <p class="descrizione">
            Possibile testo con descrizione... lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor in neque in ultricies. Curabitur faucibus, dui nec bibendum fermentum, purus ante vehicula arcu, at gravida orci enim eu sapien.
        </p>
        <h4>Espansione del soggetto</h4>
        <codicifrasi type="4324" value="'4314'" syntax="'SSVO'" blocked="13" first-cell-blocked="4" goto="true" goto-listen="gotoListen"></codicifrasi>
        <h4>Espansione dell'oggetto</h4>
        <codicifrasi type="4243" value="'4143'" syntax="'SVOO'" blocked="12" first-cell-blocked="3" goto="true" goto-listen="gotoListen"></codicifrasi>
    </div>
</div>



